{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Historique du nombre de joueurs (24h)</h1>
        <div class="my-3">
            {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}
